# Python artifacts
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
.env/
.env.*
env/
.venv/

# IDE/editor files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# macOS
.DS_Store

# Distribution/build
build/
dist/
*.egg-info/
.eggs/

# Logs
*.log

# Office documents
*.docx
*.xlsx
*.pptx
